@import url('https://fonts.googleapis.com/css?family=Open+Sans&family=Montserrat@display=swap');

:root {
    --primary-color: #3632AB;
    --secondary-color: #535d5f;
    --accent1-color: #D6D5D7;
    --accent2-color: #7DAF08;
    --heading-font: 'Open Sans', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #191c6c;
    --nav-link-color: white;
    --nav-hover-link-color: rgba(255, 255, 255, 0.889);
    --nav-hover-background-color: #7DAF08;
}

nav {
	text-align: center;
}

.navigation {
	display: flex;
	list-style: none;
}
.navigation li {
	flex-basis: 100%;
}

.navigation a {
	display: block;
    white-space: nowrap;
    padding: 1rem;
	text-decoration: none;
    font-size: 1.2rem;
    color: var(--nav-link-color);
}

.navigation a:hover {
	color: #7DAF08;
    color: var(--nav-hover-link-color);
    text-decoration: underline;
    text-underline-offset: 3rem;
}

header {
	display: grid;
	grid-template-columns: auto auto auto auto;
    align-items: center;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    background-color: var(--nav-background-color);
    margin-bottom: 1rem;
}

header img {
    width: 150px;
    height: auto;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero {
    position: relative;
}

.hero img {
    box-shadow: 0 -1px 10px 5px rgba(0,0,0,0.5);
    margin-top: .5rem;
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 5%;
    left: 0%;
    right: 0%;
    color: white;
    text-align: center;
    font-size: 55px;
    background-color: rgba(0, 0, 0, .70);
    padding: 10px;
}

.hero article {
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
    color: white;
    background-color: rgba(0, 0, 0, .70);
    border-radius: 15px;
    padding: 20px;
}

.hero article img {
    float: right;
    width: 25%;
    height: auto;
}

.adventure {
	display: flex;
	list-style: none;
    justify-content: center;
}

.adventure figure {
    margin: 1rem;
}

.adventure img {
    width: 200px;
    height: auto;
    box-shadow: 0 -1px 10px 5px rgba(0,0,0,0.5);
}

.historyh2 {
    text-align: center;
}

.historyh2 img {
    float: left;
    width: 25%;
    height: auto;
    box-shadow: 0 -1px 10px 5px rgba(0,0,0,0.5);
}

.historyh2 p {
    display: grid;
    text-align: left;
    padding-left: 20px;
}

.adventureh2 {
    text-align: center;
}

footer {
    display: flex;
    justify-content: right;
    text-align: center;
    border-top: solid black;
    margin-top: 2rem;
}

footer p {
    padding-right: 10rem;
}

.wireframelink {
    padding-top: 1rem;
    padding-right: 2rem;
}

.sociallinks {
    text-decoration: none;
    list-style: none;
}

.sociallinks a {
    text-decoration: none;
}

.sociallinks img {
    height: 50px;
    width: auto;
}

.employeeBio {
    width: 945px;
    height: 356px;
    padding: 8px 8px 8px 8px;
    background: #191c6c;
    display: flex;
	list-style: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: 0 -1px 10px 5px rgba(0,0,0,0.2);
  }

.employeeBio figure {
    margin: 1rem;
}

.employeeBio img {
    width: 210px;
    height: auto;
    box-shadow: 0 -1px 10px 5px rgba(0,0,0,0.5);
    vertical-align: middle;
    margin: 1rem;
}

.employeeBio figcaption {
    text-align: center;
    color: white;
}

.companyinfomap-flex {
    display: flex;
    height: 450px;
}

.companyinfomap-flex .contact {
    width: 350px;
    height: 450px;
    font-size: 30px;
    padding-left: 10%;
    margin-bottom: 1rem;
}

.contact h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 50%;
}

.contact h2 {
    font-size: 16px;
    text-align: center;
}

.contact p {
    font-size: 11px;
    text-align: left;
    padding-left: 2rem;
}

.companyinfomap-flex .googlemap {
    width: 600px;
    height: 450px;
    padding-left: 10%;
    margin-bottom: 1rem;
}

.messageform {
    margin-top: 4rem;
}

.contact-form {
    width: 940px;
    display: grid;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f4f4f4;
    box-shadow: 0 -1px 10px 5px rgba(0,0,0,0.5);
    color: black;
}

.contact-form p {
    text-align: center;
}

.contact-form h1 {
    margin: 1rem;
    text-align: center;
    font-size: 1.7rem;
    color:black;
}

input, select, textarea {
    padding: .5rem;
    font-size: 1.2rem;
}

label, input, button, select, textarea {
    font-size: .75rem;
}

button {
    margin: 1rem;
    background-color: white;
    color: Black;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1.3rem;
    width: 150px;
    border: 1px solid black;
}

button:hover {
    background-color: navy;
    color: white;
}

.form-item {
    display: grid;
    align-items: center;
}

.labelname {
    padding-left: 8rem;
}

.labelname label {
    padding-left: 3rem;
    margin-right: 14rem;
}

.contact1 {
    padding-left: 10rem;
}

.contact1 input {
    align-items: center;
    margin: 1rem;
}

.contact2 {
    padding-left: 11rem;
}

.contact3 {
    margin-bottom: 1rem;
}

.contact4 {
    margin-top: 1rem;
    padding-left: 20rem;
}

.messagebox {
    margin-top: 1rem;
    margin-left: 11rem;
    width: 555px;
}

textarea {
    width: 100%;
}

.buttonposition {
    padding-left: 38%;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 38% 30%;
    grid-gap: 10px;
}

.grid-item {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.grid-container {
        grid-template-columns: 1fr;
    }

.triphead {
    background-image: url('/wwr/images/rafting12_1024.jpg');
    background-position: 50%;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-bottom: 50px;
    display: flex;
}

.tripcontent {
    opacity: .85;
    text-align: center;
    background-color: black;
    border: 100px black;
    border-radius: 5px;
    width: 70%;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    color: white;
}

.triph3 {
    font-size: 56px;
    line-height: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

.tripheadp {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 34px;
}

.bookbutton {
    color: #202020;
    background-color: white;
    margin-bottom: 16px;
    padding: 16px 35px;
    font-size: 14px;
    line-height: 26px;
}

.bookbutton:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.tripgridcontainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.gridcontainerhead {
    text-align: center;
}

.grid-layout {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.gridtable {
    border: 1px solid black;
    text-align: center;
    grid-template: 55px 38px 38px 38px / 1fr 1fr 1fr 1fr;
    justify-content: stretch;
    justify-items: stretch;
    height: 220px;
}

.tripdetail-wrap {
    margin-top: 50px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
  }

.tripdetail-item {
    width: 30%;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.trip-image-wrap {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.85);
    color: #fff;
    background-color: #f4f4f4;
    background-image: url('/wwr/images/river-portrait.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 575px;
    transition: opacity .6s;
    display: block;
    position: relative;
}

.trip-image-wrap:hover {
    opacity: .9;
    color: #fff;
}
  
.trip-image-wrap:active {
    opacity: .85;
    color: #fff;
}

.trip-image-wrap1 {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.85);
    color: #fff;
    background-color: #f4f4f4;
    background-image: url('/wwr/images/little-colorado-portrait.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 575px;
    transition: opacity .6s;
    display: block;
    position: relative;
}

.trip-image-wrap1:hover {
    opacity: .9;
    color: #fff;
}
  
.trip-image-wrap1:active {
    opacity: .85;
    color: #fff;
}

.trip-image-wrap2 {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.85);
    color: #fff;
    background-color: #f4f4f4;
    background-image: url('/wwr/images/rafting49_600.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 575px;
    transition: opacity .6s;
    display: block;
    position: relative;
}

.trip-image-wrap2:hover {
    opacity: .9;
    color: #fff;
}
  
.trip-image-wrap2:active {
    opacity: .85;
    color: #fff;
}

.trip-description {
    position: absolute;
    top: 50px;
    bottom: auto;
    left: 15px;
    right: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    background-color: #202020;
    opacity: .95;
    border-radius: 10px;
    padding: 5px;
}

.trip-name-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
}
  
.trip-price-text {
    text-align: center;
    font-size: 45px;
    line-height: 26px;
}

.raftinghomecontainer {
    padding-top: 242px;
    padding-bottom: 242px;
}
  
.raftinghomecontainer.centered {
    text-align: center;
    background-image: linear-gradient(rgba(46, 157, 255, .5), rgba(46, 157, 255, .22)), url('/wwr/images/homepageback.jpg');
    background-position: 0 0, 50%;
    background-size: auto, cover;
    padding-top: 195px;
    padding-bottom: 195px;
}

.raftinghomeh1 {
    color: #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
}

.raftinghomesubheading {
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 300;
    line-height: 25px;
}
  
.hollow-button {
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 30px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: none;
    display: inline-block;
}
  
.hollow-button:hover {
    color: black;
    border-color: black;
}

.section-form-subscribe {
    background-color: #f4f4f4;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.newsletter-container {
    color: #1f2024;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    padding-top: 130px;
    padding-bottom: 140px;
    display: flex;
}

.newsletter-h1 {
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
}

.newsletter-paragraph {
    width: 80%;
}

.newsletterform {
    margin-top: 20px;
    width: 90%;
    max-width: 470px;
}

.subscribe-form {
    flex-direction: column;
    align-items: stretch;
}

.news-text-field {
    width: 330px;
    margin-bottom: 0;
    margin-right: 10px;
    margin-top: 10px;
  }

.news-text-field1 {
    width: 250px;
    margin-bottom: 0;
    margin-right: 10px;
    margin-top: 10px;
}

.news-text-field:hover {
    border-color: #e3e6eb;
}

.news-button {
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #1a1b1f;
    border-radius: 0;
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    margin-top: 10px;
}
  
.news-button:hover {
    color: #fff;
    background-color: #32343a;
}
  