@import url('https://fonts.googleapis.com/css?family=Ojuju&family=Montserrat@display=swap');

:root {
    --primary-color: #3632AB;
    --secondary-color: #31ADC5;
    --accent1-color: #D6D5D7;
    --accent2-color: #7DAF08;

    --heading-font: 'Ojuju', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #31adc5;
    --nav-link-color: white;
    --nav-hover-link-color: rgba(255, 255, 255, 0.889);
    --nav-hover-background-color: #7DAF08;
}

nav {
	text-align: center;
}

.navigation {
	display: flex;
	list-style: none;
}
.navigation li {
	flex-basis: 100%;
}

.navigation a {
	display: block;
    white-space: nowrap;
    padding: 1rem;
	text-decoration: none;
    font-size: 1.2rem;
    color: var(--nav-link-color);
}

.navigation a:hover {
	color: #7DAF08;
    color: var(--nav-hover-link-color);
    text-decoration: underline;
    text-underline-offset: 3rem;
}

header {
	display: grid;
	grid-template-columns: auto auto auto auto;
    align-items: center;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    background-color: var(--nav-background-color);
    margin-bottom: 1rem;
}

header img {
    width: 150px;
    height: auto;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero {
    position: relative;
}

.hero img {
    box-shadow: 0 -1px 10px 5px rgba(0,0,0,0.5);
    margin-top: .5rem;
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 5%;
    left: 0%;
    right: 0%;
    color: white;
    text-align: center;
    font-size: 55px;
    background-color: rgba(0, 0, 0, .70);
    padding: 10px;
}

.hero article {
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
    color: white;
    background-color: rgba(0, 0, 0, .70);
    border-radius: 15px;
    padding: 20px;
}

.hero article img {
    float: right;
    width: 25%;
    height: auto;
}

.adventure {
	display: flex;
	list-style: none;
    justify-content: center;
}

.adventure figure {
    margin: 1rem;
}

.adventure img {
    width: 200px;
    height: auto;
    box-shadow: 0 -1px 10px 5px rgba(0,0,0,0.5);
}

.historyh2 {
    text-align: center;
}

.historyh2 img {
    float: left;
    width: 25%;
    height: auto;
    box-shadow: 0 -1px 10px 5px rgba(0,0,0,0.5);
}

.historyh2 p {
    display: grid;
    text-align: left;
    padding-left: 20px;
}

.adventureh2 {
    text-align: center;
}

footer {
    display: flex;
    justify-content: right;
    text-align: center;
    border-top: solid black;
    margin-top: 2rem;
}

footer p {
    padding-right: 10rem;
}

.sociallinks {
    text-decoration: none;
    list-style: none;
}

.sociallinks a {
    text-decoration: none;
}

.sociallinks img {
    height: 50px;
    width: auto;
}